.cta-link {
	border: 2px solid currentColor;
	padding: 13px 31px;
	margin: 20px 0;
	font-size: 24px;
 	line-height: 1.3em;
	text-align: center;
	width: 100%;
	display: inline-block;
	box-shadow: none !important;
	color: #000;
	position: relative;
	margin-top: 0;
	margin-bottom: 30px;
}

body .cta-link .fa {
	position: absolute;
    right: 2%;
}